
h1 {
  color: black;
  font-family: monospace;
  border-color: blue;
  border-width: 5px;
  border-style: dashed;
  background-color: mediumaquamarine;
}
.orchid-text {
  color: orchid;
}
.black-border {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  padding: 3px 10px 3px 8px;
  width: 25%;
}
